DB_HOST=localhost
DB_PORT=3306
DB_USER=CHANGE_ME
DB_PASSWORD=CHANGE_ME
DB_NAME=vinted_resell

JWT_SECRET=119dc8836702f543e754ffa5cda3f64549a4831f17a94543222ff152ac94e353d28abdf0001f703969c2b0c341f43906
JWT_EXPIRES_IN=8h

PORT=4000
CORS_ORIGIN=http://localhost:5173

# First admin account, created once by "npm run seed"
SEED_ADMIN_USERNAME=admin
SEED_ADMIN_PASSWORD=ChangeMe123!
SEED_ADMIN_EMAIL=admin@example.com
